<div class="details fl">
  <section>
    <h4>{{ "Basic Information" | i18n }}</h4>

    <div class="detail">
      <span class="info-label">{{ "Name" | i18n }}</span>
      <span class="info-value" alch-edit-text="product.name" on-save="product.$update()"></span>
    </div>

    <div class="detail">
      <span class="info-label">{{ "UUID" | i18n }}</span>
      <span class="info-value">{{ product.uuid }}</span>
    </div>

    <div class="detail">
      <span class="info-label">{{ "Description" | i18n }}</span>
      <span class="info-value" alch-edit-textarea="product.description" on-save="product.$update()"></span>
    </div>

  </section>
</div>
