:plain
  KT.routes.options.prefix = "/katello";
  angular.module('Katello.globals').constant("RootURL", "/katello");

-if current_organization
  :plain
    angular.module('Katello.globals').value('CurrentOrganization', "#{current_organization.label}");
