= javascript :errata
= stylesheet :nutupane

%div{ 'ng-app' => 'Katello', 'ng-controller' => 'ErrataController' }
  %div{ 'alch-table-toolbar' => 'table' }
  %table.table.stable.stripe-row{ 'alch-table' => 'table', 'ng-class' => '{ "table-mask" : table.working }' }
