<div class="tab-pane" id="content_views">
  <div class="control-group">
    <%= fields_for @host do |f| %>
        <%=  f.label :content_view, _('Content View'), {:class => "control-label"} %>
        <div class="controls">
          <%=  f.select :content_view_id, Katello::ContentView.non_default.collect{|cv| [cv.name, cv.id]} %>
        </div>
    <% end %>
  </div>
</div>
